
// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-size-base: 1rem;
$line-height-base: 1.5;
