
$font-size: 16px;

$color_blue: #002248;
$color_blue_light: #1b81eb;
$color_red: #f04a47;
$color_grey_light: #e3e3e3;
$grey_bg: #f9f9f9;

@mixin flex{
  display: flex;
  flex-wrap: wrap;
}
@mixin transition_ease($sec){
  transition: all $sec+s ease;
}
@mixin transition_linear($sec){
  transition: all $sec+s linear;
}