@import '~bootstrap/scss/bootstrap';

//Slick 1.8.1
@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';

//Fonts
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext");

//Fancybox
@import '~@fancyapps/fancybox/dist/jquery.fancybox.min.css';

//Font-awesome
@import '~font-awesome/scss/font-awesome';

@import 'jquery.mCustomScrollbar.scss';

//Custom
@import "app_variables";

/*START_STYLE*/

body {
  font-family: 'Ubuntu', 'Roboto', Arial,sans-serif;
  color: #000;
  font-size: $font-size;
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  min-height: 100vh;
}

#app {
  background: #f9f9f9;
  left: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  z-index: 100;
  margin-left: 0;
  // position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: $color_blue_light;

  &:hover,
  &.active {
    color: $color_blue;
    text-decoration: none;
  }
}

/*button*/
a,
.btn,
input,
select,
button {
  outline: none !important;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 12px;
  border-radius: 5px;

}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.white-btn {
  background: #fff;
  color: $color_blue_light;

  &:focus,
  &:hover {
    color: #fff;
    background: $color_blue_light;
  }
}

.btn-mini{
  font-weight: normal;
  text-transform: none;
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.blue-btn{
  border-color: $color_blue_light;

  &:hover,
  &:focus{
    background: $color_blue_light;
    color: #fff;
  }
}

.red-btn{
  border-color: $color_red;
  border-width: 2px;
  color: $color_red;
  &:hover,
  &:focus{
    background: $color_red;
    color: #fff;
  }
}

.red-btn-active{
  border-color: $color_red;
  background: $color_red;
  border-width: 2px;
  color: #fff;
  &:hover,
  &:focus{
    background: $color_blue_light;
    border-color: $color_blue_light;
    color: #fff;
  }
}

/*END button*/
/*MODAL*/
body.fancybox-active{
  margin-right: 0;
}
body.fancybox-active,
body.modal-open {
  overflow: inherit;
  padding-right: inherit !important;
}

/*END START_STYLE*/
/*HEADER*/

#header {
  background: $color_blue;
  font-size: 12px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 600;
  @include transition_ease(.5);
  padding: 14px 0;

  .navbar {
    padding: 0;
  }

  .navbar-brand {
    display: flex;
    padding: 0;
    img {
      height: 30px;
      width: auto;
      @include transition_ease(.5);
    }
  }

  a {
    color: #fff;
    font-family: 'Ubuntu', 'Roboto', Arial,sans-serif;
    &:hover,
    &.active {
      color: $color_red;
    }
  }

  #navbar-top {
    justify-content: flex-end;
  }

  li.active{
    a{
      color: $color_red;
    }
  }

}

#header.stick {
  padding: 8px 0;
  height: 54px;

  .navbar-brand {
    img {
      height: 25px;
    }
  }
}

#main-menu {
  > li {
    a {
      font-weight: bold;
      padding: 10px 8px;
    }
  }
}

#lang-menu {
  > li {
    > a {
      display: block;
      position: relative;
      font-weight: 300;
      padding: 10px 6px;

      &::after {
        content: '/';
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -2px;
        align-items: center;
      }
    }
    &:last-child {
      > a {
        padding-right: 0;
        &::after {
          display: none;
        }
      }
    }
  }
}

/*BANNER_SECTION*/

.banner-section {
  position: relative;
  .img-wrap {
    display: block;
    position: relative;
    height: 668px;
    min-height: 600px;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .bnr-text {
    display: block;
    position: absolute;
    z-index: 20;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 66px;
    color: #fff;

    .container,
    .inner {
      height: 100%;
    }

    .inner {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      text-align: right;

    }

    .banner-title {
      font-size: 60px;
      line-height: 60px;
      font-weight: bold;
      position: relative;
      margin-bottom: 0px;

      &::after {
        content: "";
        display: block;
        background: $color_blue_light;
        width: 37px;
        height: 4px;
        margin: 23px 0 23px auto;

      }
    }

    .bnr-descr {
      font-size: 24px;
      line-height: 30px;
    }

    .btn {
      margin-top: 66px;
    }
  }
}

/*ABOUT_SECTION*/

.theme-section {
  padding: 50px 0;
  .section-content {
    margin-top: 20px;
  }
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  &::after {
    content: "";
    display: block;
    background: $color_blue_light;
    width: 37px;
    height: 4px;
    margin: 12px 0;

  }
}

#about-project {
  .container {
    position: relative;
  }
  .about-block {
    padding-right: 0;
    p {
      margin-bottom: 0;
    }
  }
}

.text_review {
  display: inline;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -ms-hyphens: auto;
  p:last-child {
    display: inline;
  }
}

.read-more {
  cursor: pointer;
  font-weight: bold;
  color: $color_blue_light;

  &:hover {
    color: $color_red;
  }
}

.counter-wrap {
  display: block;
  background: url('../img/count_bg.jpg') no-repeat;
  max-width: 360px;
  background-size: cover;
  text-align: center;
  padding: 56px 0 45px 0;
  margin-top: -122px;
  z-index: 80;
  position: relative;

  .block-title {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  .btn {
    margin-top: 13px;
    &:hover {
      background: $color_red;
    }
  }
}

.start-counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .count-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 128px;
    height: 128px;
    margin: 18px 5%;
    flex-direction: column;
    line-height: 1;
    color: #434444;

    .count-num {
      font-weight: bold;
      font-size: 55px;
    }

    .count-text {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
}

.news-block .news-list,
.jspContainer, .slick-list, .slick-slider, .slick-track,
.jspHorizontalBar, .jspPane, .jspVerticalBar {
  outline: none !important;
}

.about-block,
.news-block{
  z-index: 10;
}

.news-block {

  .news-list {
    display: block;
    position: relative;
    height: 338px;

    .news-item {
      display: inline-block;
      position: relative;
      width: 100%;
      border-bottom: 1px solid $color_grey_light;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 16px;
        left: 0;
        margin: auto;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid $color_grey_light;
      }

      &:last-child {
        border-bottom: none;
      }

      .news-title {
        font-weight: bold;
        line-height: 19px;
      }

      .date {
        color: #c4c4c4;
        font-size: 12px;
        text-transform: uppercase;
        margin-top: 8px;
      }
    }

    .news-item:hover {
      &::before {
        border-color: $color_blue_light;
      }
    }

  }
}

.social a {
  font-size: 13px;
  color: $color_red;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding: 0 6px;
  line-height: 1;
  font-weight: bold;

  &:hover {
    color: $color_blue_light;
  }

}

#about-project {
  .inner {
    display: block;
    position: relative;
  }
  .social-block {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 8;
    bottom: 0;
    width: 100%;
  }
  .social {
    display: block;
    position: absolute;
    z-index: 40;
    top: 50%;
    width: auto;
    transform: rotate(90deg);
    right: -77px;

    a.share-icn {
      transform: rotate(-90deg);
      padding: 0;
      font-size: 16px;
    }
  }
}

.mCSB_inside > .mCSB_container {
  margin-right: 42px;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  background: #d6d6d6;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 11px;
  background: #d6d6d6;
}

.mCSB_scrollTools .mCSB_draggerRail,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  border-radius: 0;
}

/*WHY_SECTION*/
.grey-bg {
  background: $grey_bg;
}

.why-item {
  .num {
    font-size: 24px;
    font-weight: bold;
    color: $color_blue_light;
  }

  .why-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 7px;
    line-height: 21px;
  }

  .text {
    color: #818181;
  }
}

/*MENTOR_SECTION*/

.mentor-wrap {
  display: block;
  position: relative;
  cursor: pointer;
  max-width: 313px;
  margin: 0 auto;
  padding: 15px 0 60px 0;
  .top-info {
    display: block;
    position: relative;
    .img-wrap {
      height: 260px;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      img {
        @include transition_linear(0.6);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);

      }
    }
  }
  .soc-block {
    display: block;
    position: absolute;
    bottom: 11px;
    width: 100%;
    z-index: 10;
    padding: 0 22px;
    a {
      display: inline-block;
      position: relative;
      width: 28px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      font-size: 20px;
      color: #999;
      background: none;
      margin: 0 4px;
      @include transition_linear(0.2);
    }
  }
  .bottom-info {
    margin-top: 12px;
    .name {
      font-size: 18px;
      text-transform: uppercase;
    }
    .mentor-status {
      color: #848585;
    }
  }
}

.mentors-item:nth-child(3) {
  .bottom-info {
    padding-left: 17px;
  }
}

.mentors-item:nth-child(6) {
  .bottom-info {
    padding-left: 12px;
  }
}

.mentors-item:nth-child(7) {
  .bottom-info {
    padding-left: 17px;
  }
}

.mentor-wrap:hover {
  .top-info {
    .img-wrap img {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
    }
  }

  .soc-block a {
    background: $color_red;
    color: #fff;
  }
}

/*MODAL*/

.modal-content {
  border-radius: 6px;
  padding: 30px 30px;
  button.close {
    display: block;
    position: absolute;
    z-index: 10;
    top: 11px;
    right: 15px;
    color: #999;
    &:hover {
      color: $color_red;
    }
  }
}

/*modal_mentor*/

.modal-skills-info {
  .top-info {
    display: block;
    position: relative;

    .img-wrap {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .soc-block {
      display: block;
      position: absolute;
      bottom: 11px;
      width: 100%;
      z-index: 10;
      padding: 0 22px;
      a {
        display: inline-block;
        position: relative;
        width: 28px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        font-size: 20px;
        color: #fff;
        background: $color_red;
        margin: 0 4px;
        transition: all .2s linear;
        opacity: 0.85;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.skills-wrap {
  margin-top: 20px;
  .skills-item {
    padding-bottom: 18px;

    &:last-child {
      padding-bottom: 0;
    }
    .skills-title {
      display: flex;
      justify-content: space-between;
      color: #575757;
      font-weight: bold;
      font-size: 14px;
    }
    .skills-line {
      display: block;
      position: relative;
      height: 16px;
      width: 100%;
      background: #eee;
      .current {
        display: block;
        background: $color_blue_light;
        height: 16px;
        width: 0;
      }
    }
  }
}

.modal-text-info {
  color: #6a6a6a;
  .text-header {
    margin-bottom: 20px;
    .name {
      font-size: 18px;
      text-transform: uppercase;
      color: $color_blue;
    }
  }

  .text-wrap {
    max-height: 400px;
  }
}

/*MODAL_NEWS*/

.modal_news {
  .top-info {
    display: flex;
    border-bottom: 1px solid $color_grey_light;
    margin-bottom: 22px;
    margin-right: 30px;

    .date-wrap {
      display: flex;
      position: relative;
      width: 98px;
      min-height: 98px;
      color: #fff;
      background: $color_blue_light;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-right: 10px;
      flex-shrink: 0;
      margin-bottom: -1px;

      .day {
        font-size: 48px;
        font-weight: bold;
        line-height: 1;
      }
      .year {
        font-size: 11px;
      }

    }
    .title-block {
      font-size: 24px;
      font-weight: bold;
      margin-top: -2px;
    }

    .social {
      margin-left: -3px;
      margin-bottom: 8px;
    }
  }

  .content-box {
    color: #6a6a6a;
    max-height: 360px;
    img {
      width: 284px;
      height: auto;
      float: left;
      margin: 0 30px 15px 0;
    }

  }
}

/*AGANDA_SECTION*/

.card-header-wrap {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.12);
}

.card-header {
  border-bottom: none;
  padding: 0;
  background: none;
}

.card-header-box {
  display: block;
  position: relative;
  padding: 16px 28px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.06);
  &:hover {
    color: $color_blue_light;
  }
  &[aria-expanded="true"] {
    background: $color_blue_light;
    color: #fff;
  }

  .day-num {
    text-transform: uppercase;
  }
}

.event-line{
  display: flex;
  position: relative;
  background: #fff;
  box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.12);
  padding: 6px 10px;
  margin: 0px 10px 20px 10px;

  >div{
    padding: 0 15px;
    border-left: 1px solid #e1e1e1;

    &:first-child{
      border-left: none;
    }
  }

  .event-first-info{
    width: 134px;
    text-align: right;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;

    .wrap{
      >div{
        display: flex;
        position: relative;
        justify-content: flex-end;
        align-items: center;
        color: #aaa;
        margin-bottom: 4px;

        &:last-child{
          margin-bottom: 0;
        }


        .fa{
          margin-right: 6px;
          font-size: 16px;
        }
      }
      .time{
        background: $color_red;
        color: #fff;
        font-weight: bold;
        padding: 5px 2px;
        .icon{
          margin-right: 10px;
        }
      }

      .avatar{
        img{
          width: 31px;
          height: 31px;
          object-fit: cover;
        }
      }
    }


  }

  .event-last-info{
    .event-title{
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 3px;
    }

    .event-deskr{
      color: #7f7f7f;
      line-height: 30px;
    }
  }
}

.card-body {
  padding: 40px 0px 20px 40px;
}

#agenda-section {
  .card-body.scroll-pane{
    max-height: 820px;
    .mCSB_inside>.mCSB_container{
      margin-right: 85px;
    }
  }
  .card-body{
    margin-left: 40px;
  }
}

/*WAS_SECTION*/
.was-item{
  display: flex;
  text-align: center;
  margin: 40px 0;
  align-items: flex-end;
  justify-content: center;
  .was-box{
    display: inline-block;
    text-align: left;
    color: #000;

    .box-title{
      display: block;
      position: relative;
      margin-top: 16px;
      font-size: 18px;
    }

    .img-wrap{
      img{
        @include transition_linear(0.6);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }

    &:hover{
      .img-wrap{
        img{
          -webkit-filter: none;
          -moz-filter: none;
          -ms-filter: none;
          -o-filter: none;
          filter: none;
        }
      }
    }
  }
}

.fancybox-outer{
  max-width: 1140px;
  max-height: 90%;
  margin: auto;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
}

.fancybox-container .fancybox-inner,
.fancybox-show-thumbs .fancybox-inner{
  right: 0;
  margin: 30px;


  .fancybox-caption-wrap{
    padding: 0px 0 20px 0;
    background: none;
    top: 0;
    bottom: initial;
    z-index: 99995;

    .fancybox-caption{
      padding: 0;
      border-top: none;
      color: #fff;
      font-size: 18px;
    }
  }
}

.fancybox-show-thumbs .fancybox-inner{
  .fancybox-stage{
    top: 40px;
    bottom: 140px;
  }

  .fancybox-caption-wrap{
    background: #fff;
    .fancybox-caption{
      color: #000;
    }
  }
}

.fancybox-navigation button{
  &::before{
    background: #999;
  }

}

.fancybox-button--close{
  color: #999;
  background: none;
  &:hover{
    color: $color_red;
  }
}

.fancybox-is-open .fancybox-bg{
  background: #000;
  opacity: 0.5;
}

.fancybox-thumbs {
  top: auto;
  width: auto;
  bottom: 0;
  left: 0;
  right : 0;
  padding: 10px 0;
  box-sizing: border-box;
  background: #fff;
  height: 140px;
}

.fancybox-thumbs>ul>li{
  width: 170px;
  height: 110px;
  margin: 5px;
}

.fancybox-thumbs>ul>li:before{
  border: 2px solid $color_blue_light;
}

.fancybox-button{
  .fa{
    color: #fff;
    font-size: 20px;
    display: block;
    position: relative;
  }
}

.fancybox-navigation button{

  &::before{
    background: #000;
    opacity: 0.5;
  }

  &[disabled]::before{
    background: #000;
    opacity: 0.5!important;
  }

  &:focus,
  &:hover{
    &::before{
      opacity: 1;
    }
  }

}

.fancybox-toolbar {
  top: -30px;
  right: -30px;
}


/*simple_accordion*/
.simple-accordion{
  .card-header-wrap{
    flex-direction: column;
    box-shadow: none;
    background: inherit;
  }

  .card-header{
    margin-bottom: 20px;
  }
  .card-header-box{
    background: #fff;
    box-shadow: 1px 1px 4px rgba(229, 229, 229, 0.5);
  }
  .card-header-box[aria-expanded=true]{
    background: $color_blue_light;
  }

  .card-body{
    padding: 0;
  }
}
/*END simple_accordion*/

/*RULES_SECTION*/
#rules-section{
  .section-content{
    margin-top: 36px;
  }

  .simple-accordion{
    font-size: 14px;

    h5{
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  .scroll-pane{
    max-height: 486px;
  }

  .btn-wrap{
    text-align: center;
    margin-top: 20px;
  }
}

/*PARTNERS_SECTION*/

#partners-section{

  .section-content{
    margin-top: 45px;
  }
  .title-block{
    display: flex;
    justify-content: space-between;

    .main-partner{
      display: block;
      position: relative;
      font-size: 23px;
      text-transform: uppercase;
      color: #f04a47;
      font-weight: 500;
      letter-spacing: -1px;

      .fa{
        margin-left: 5px;
      }
    }
  }
}

.partner-item{
  .inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;

    .img-wrap{
      height: 70px;
      display: flex;
      align-items: center;
      img{
        max-height: 70px;
        @include transition_linear(0.6);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }



  .inner:hover{
    .img-wrap img {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
    }
  }

  .partner-name{
    display: block;
    position: relative;
    color: #000;
    margin-top: 22px;
  }
}

.slick-slide{
  outline: none!important;
}

.slick-arrow{
  font-size: 20px;
  color: $color_blue_light;
  &::before{
    display: none;
  }

  &:hover,
  &:focus{
    color: $color_blue_light;
  }
}

/*CONTACT_SECTION*/

.contact-box{
  font-size: 18px;

  .info{
    color: #696969;

    a{
      color: #696969;
      &:hover{
        color: $color_blue_light;
      }
    }
  }

  .contact-item{
    margin: 20px 0;
  }
}

.contacts-line{
  .btn-wrap{
    margin-top: 68px;
  }
}

.map{
  //max-width: 720px;
  float: right;
  width: 100%;
  height: 100%;

  iframe{
    border: none;
  }

  .map-img{
    object-fit: cover;
    height: 360px;
  }
}

/*FOOTER*/

#footer{
  background: #000;
  color: #fff;
  padding: 8px 0;
  font-size: 13px;
  font-weight: bold;

  p{
    margin-bottom: 0;
  }

  .inner{
    display: flex;
    justify-content: space-between;
  }
  .footer-line{
    display: flex;
    align-items: center;
    .footer-logo{
      margin-right: 10px;
      flex-shrink: 0;
    }

    &.footer-line-1{
      max-width: 720px;

      .footer-logo{
        width: 64px;
        height: auto;
      }
    }
    &.footer-line-2{
      max-width: 330px;
      .footer-logo{
        width: 100px;
        height: auto;
      }
    }
  }

  .soc-block{
    a{
      color: #fff;
      padding: 0 5px;
      font-size: 14px;

      &:hover{
        color: $color_blue_light;
      }
    }
  }
}

#scroll-up{
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  z-index: 100;
  background: #1B81EB;

  &:hover{
    background: $color_blue_light;
  }
}

.slider-thumbnails,
.show-more{
  display: none;
}

/*REGISTER_PAGE*/
body.no-front{
  background: #f9f9f9;
}
.page_content{
  padding-top: 90px;
  background: #f9f9f9 url('../img/inner_page_bg.jpg') no-repeat bottom center;
  background-size: contain;
  padding-bottom: 300px;
}

.page-title{
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: $color_blue_light;
  margin-bottom: 26px;
}

.register-step{
  h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 18px;
  }
  .slide-line-wrap{
    max-width: 450px;
    margin: 0 auto 45px auto;
  }
  .step-slide-line{

    background: #e9e9e9;
    height: 13px;
    display: block;
    position: relative;
    .current{
      height: 13px;
      background: $color_blue_light;
      width: 0;
    }
  }

  .select-templ{
    max-width: 682px;
    margin: 0 auto;
  }

  .select-title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  .select-item{
    display: flex;
    position: relative;
    font-size: 18px;
    background: #fff;
    padding: 0px 40px;
    height: 57px;
    cursor: pointer;
    align-items: center;
    @include transition_ease(0.2);

    &:hover{
      background: $color_blue_light;
      color: #fff;
    }
  }

  .select-box{
    .button-wrap{
      text-align: right;
      margin-top: 32px;
    }

    .group-item{
      margin-bottom: 20px;
    }
  }
}

/* Top line */

.top-logo-img {
  max-width: 195px;
}

.form-hidden {
  display: none;
}

#navbarSupportedContent a {
  color: #140000;
}

.form-title {
  color: #1083f6;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 36px;
  padding-top: 100px;
  border-bottom: none;
}

.form-subtitle {
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 22px;
}

.form-subtitle2 {
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 22px;
}

.hexa-progress {
  margin-bottom: 50px;
}

.progress {
  border-radius: 0;
}

.progress-bar {
  background-color: #1083f6;
}

.pointer {
  display: block;
  cursor: pointer;
  padding: 15px;
  margin-bottom: 30px;
  /*background: #fff;*/
}

.hexa-btn {
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.hexa-btn:hover {
  background: #1083f6;
  color: #fff !important;
}

/* Elements */

.form-control[type='text'],
.form-control[type='email'],
textarea,
select.form-control,
input[type="radio"] + .form-check-label,
input[type="checkbox"] + .form-check-label {
  background-color: #fff;
  padding: 15px;
  /*color: #000;*/
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 18px;
  border-radius: 0 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input.form-check-input[type="radio"],
input.form-check-input[type="checkbox"] {
  visibility: hidden;
  width: 0;
  margin-right: 0;
}

input[type="radio"] + .form-check-label,
input[type="checkbox"] + .form-check-label {
  padding: 15px 30px;
  cursor: pointer;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  background: #1083f6;
  color: #fff;
}

.form-control:not(.is-invalid)[type='text'],
.form-control:not(.is-invalid)[type='email'],
textarea,
select.form-control {
  border: 1px solid #fff;
}

select.form-control {
  height: auto !important;
}

.btn-primary {
  background: #ef4a48;
  border-color: #ef4a48;
  padding: 15px 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-primary:hover {
  background: #1b81eb;
  border-color: #1b81eb;
}

.form-check {
  padding-left: 0;
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

.form-group h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 24px;
}

.form-container-header {
  padding-top: 100px;
}

@import 'app_screen.scss';