
//@import "variables";

/*MIN_WIDTH*/
@media (min-width: 1200px) {
  .container {
    max-width: 1174px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px;
  }
}

/*MAX_WIDTH*/
@media (max-width: 1200px) {
  #header .navbar-brand img {
    height: 26px;
  }
  #header {
    font-size: 10px;
    .navbar-brand {
      margin-right: 0;
    }
  }
  #main-menu > li a {
    padding: 10px 6px;
  }

  .counter-wrap {
    margin: 40px auto;
  }

  #about-project .social-block {
    display: none;
  }

  .fancybox-outer {
    max-width: 90%;
  }

  #footer .footer-line.footer-line-1 {
    width: 50%;
  }

}  /*END 1200*/

@media (max-width: 992px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  /*mobile_menu*/
  #header {
    .navbar-toggler {
      display: block;
      position: relative;
      padding: 0;
      width: 30px;
      height: 22px;

      .navbar-toggler-icon,
      .navbar-toggler-icon::before,
      .navbar-toggler-icon::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 4px;
        background: #fff;
        border-radius: 3px;
        cursor: pointer;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
      }
      .navbar-toggler-icon {
        top: 8px;
      }
      .navbar-toggler-icon::before {
        top: -8px;
      }
      .navbar-toggler-icon::after {
        bottom: -8px;
      }
    }
  }

  #header,
  #header.stick {
    padding: 16px 0;
    height: 64px;
    z-index: 102;
    font-size: 14px;
    .navbar-brand img{
      height: 30px;
    }

    #navbar-top{
      background: $color_blue;
      position: absolute;
      border-top: 1px solid rgba(3, 169, 244, 0.47);
      top: 47px;
       left: -30px;
      right: -30px;
      min-width: 300px;
      padding: 10px 30px;
    }

    #lang-menu{
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }

  }
  /*END mobile_menu*/

  .banner-section .bnr-text{
    padding-top: 64px;
  }

  .card-header-wrap{
    flex-direction: column;
  }

  #rules-accordion .download-btn{
    display: none;
  }

  #footer .inner{
    flex-direction: column;
  }

  #footer{
    font-size: 12px;
    padding: 0;
    .footer-line{


      &.footer-line-2,
      &.footer-line-1{
        padding: 12px 0;
        width: 100% !important;
        max-width: 100% !important;
        .footer-logo{
          width: 64px;
        }
      }
      &.footer-line-2{
        margin-top: 18px;
      }

      &.footer-line-3{
        background: #232323;
        margin: 10px -30px 0 -30px;
        justify-content: center;
        padding: 8px 0;
      }
    }
    .soc-block a {
      padding: 0 10px;
      font-size: 20px;
    }
  }



}  /*END 992*/

@media (max-width: 767px) {
  .banner-section .bnr-text .banner-title {
    font-size: 30px;
    line-height: 38px;
  }

  .banner-section .bnr-text .btn{
    margin-top: 42px;
  }

  .title{
    font-size: 24px;
  }

  .show-more{
    display: block;
  }

  #agenda-section .card-body.scroll-pane,
  .news-block .news-list{
    height: auto;
    max-height: 100%;
  }

  .show-more{
    display: block;
    position: relative;
    font-size: 18px;
    color: $color_blue_light;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
  }

  .hide-box{
    display: none!important;
  }

  .why-item .why-title{
    br{
      display: none;
    }
  }

  .why-item{
    margin-top: 40px;
  }

  .mentor-wrap{
    padding-bottom: 0;
    .top-info {
      .img-wrap img {
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
      }
    }

    .soc-block a {
      background: $color_red;
      color: #fff;
    }
  }

  #was-section{
    .was-item{
      margin-bottom: 0;
      .was-box{
        display: block;
        text-align: center;
      }
      .img-wrap{
        img{
          height: 220px;
          margin: 0 auto;
          -webkit-filter: none;
          -moz-filter: none;
          -ms-filter: none;
          -o-filter: none;
          filter: none;
        }
      }
    }
  }

  .slider-thumbnails{
    display: block;
    margin-top: 22px;

  }

  .mobile-slider .slick-slider{
    margin: 0;
  }

  .slick-prev {
    left: -18px;
  }
  .slick-next {
    right: -18px;
  }

  .slider-thumbnails{
    .tramb-item{
      padding: 0 10px;
      img{
        height: 40px;
        margin: 0 auto;
      }
    }
    .tramb-item.slick-current{
      img{
        //border: 2px solid $color_blue_light;
      }

    }
  }

  #partners-section .title-block .main-partner{
    display: none;
  }

  .contacts-line .btn-wrap{
    text-align: center;
    margin: 40px 0;
  }

  #agenda-section .card-body{
    margin-left: 0;
    padding-left: 0;
  }
  #agenda-section .card-body.scroll-pane .mCSB_inside>.mCSB_container {
    margin-right: 0;
  }

  .map{
    height: 300px;
  }

}/*END 768*/
@media (max-width: 670px) {
  .event-line .event-last-info .event-title{
    font-size: 16px;
  }
}/*END 670*/


@media (max-width: 520px) {
  .banner-section .bnr-text .banner-title {
    font-size: 26px;
    line-height: 36px;
  }

  .banner-section .bnr-text .bnr-descr {
    font-size: 22px;
    line-height: 28px;
  }

  .event-line{
    flex-direction: column;
    margin: 0 0px 20px;

    >div{
      border-left: none;
      padding: 0;
    }

    .event-last-info{
      border-top: 1px solid #e1e1e1;
      padding-top: 5px;
      margin-top: 10px;
    }

    .event-first-info{
      justify-content: flex-start;
    }
  }
}/*END 520*/

@media (max-width: 340px) {
  .card-header-box{
    font-size: 14px;
  }
}/*END 340*/